:root {
  --blue: #2f5d8a;
  --light-blue: #7b98b3;
  --dark-bg-blue: #021026;
  --bg-dark-container: #051a33;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  color: #fff;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to bottom, #63b7d3, #1c3277);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1044px;
  padding: 10px;
  margin: 0 auto;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

header h1 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

header .action {
  display: flex;
  align-items: center;
  gap: 10px;
}

i {
  cursor: pointer;
  font-size: 26px;
  opacity: 0.8;
}

i:hover,
i:active {
  opacity: 1;
}

.search-container {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

.search-container input {
  outline: none;
  border: none;
  font-size: 16px;
  padding: 0 10px;
  height: 100%;
  font-size: 18px;
  text-transform: capitalize;
  background: transparent;
}

.search-container input::placeholder {
  color: #fff;
}

.search-container i {
  font-size: 22px;
  cursor: pointer;
}

.search-container i:active {
  transform: scale(0.95);
}

.search-container #searchInp {
  width: 100%;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

.weather-container .heading {
  display: flex;
  justify-content: space-between;
}

.weather-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weather-info .basic-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.basic-info .location,
.basic-info .description,
.weather-container .heading p {
  font-size: 18px;
  margin: 0;
  font-weight: 800;
  text-transform: capitalize;
}

.basic-info img.weather-icon {
  height: 130px;
}

.basic-info .temperature {
  font-size: 92px;
  margin: 0;
}

.weather-info .basic-info div {
  display: flex;
  align-items: center;
}

.extra-info .temp-info,
.extra-info .temp-info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extra-info .temp-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.extra-info .temp-box img {
  height: 28px;
}

.extra-info .temp-box p,
.extra-info .feels-like {
  font-size: 18px;
}

.forecast {
  display: flex;
  gap: 20px;
}

.forecast .card-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
}

.card-container .card {
  text-align: center;
  border-radius: 10px;
  width: 180px;
  height: 340px;
  padding: 5px;
  border: 1px solid transparent;
}

.card-container .card:hover {
  border: 1px solid;
  transition: 0.5s;
}

.card-container .card .date {
  font-weight: 800;
}

.card-container .card .card-img {
  width: 180px;
}

.bg-body-dark {
  background-image: linear-gradient(to bottom, #011433, #16315e);
}

.bg-blue-container {
  background-color: #021d3f;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

@media screen and (max-width: 500px) {
  html,
  body {
    height: auto;
  }

  .container {
    height: auto;
  }

  .weather-info {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .weather-container .heading p {
    display: none;
  }

  .weather-info .basic-info div {
    flex-direction: column-reverse;
  }

  .weather-container .extra-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }

  .weather-info .basic-info {
    align-items: center;
    gap: 5px;
  }

  .temperature {
    font-size: 10px;
  }

  .forecast .card-container {
    overflow-y: hidden;
    gap: 10px;
  }

  .card-container .card {
    border: 1px solid;
    width: auto;
    height: auto;
  }

  .card-container .card .max-min-temp {
    display: none;
  }

  .card-container .card p {
    font-size: 16px;
    margin: 0.5px;
  }

  .card-container .card .card-img {
    width: 100px;
  }

  ::-webkit-scrollbar {
    width: 1px !important;
  }
  
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:hover {
    background: transparent !important;
  }

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
