body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    height: 100vh;
    padding: 10px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

header .action {
    display: flex;
    gap: 10px;
}




.search-container {
    background-color: yellow;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.search-container button {
    appearance: none;
    outline: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-container #searchInp {
    width: 100%;
}

.weather-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.weather-container .heading {
    background-color: green;
    display: flex;
    justify-content: space-between;
}



